<body>
  <div class="items">

    <div class="topoverview">
      <div class="gaiyou">
      いらっしゃいませ！<br>
      あなたの健康をサポートいたします！ウォリアーズです☆<br>
      お酒のことなら是非うちでお買い求めください♪
      </div>
    </div>

    <div class="pageline">
      <div class="page_img">
        <a href="biru"><%= image_tag 'topbiru.jpg', class: 'img' %></a>
        <div class="img_title">ビール</div>
      </div>
      <div class="page_img">
        <a href="nihonsyu"><%= image_tag 'topnihonsyu.jpg', class: 'img' %></a>
        <div class="img_title">日本酒</div>
      </div>
    </div>

    <div class="pageline">
      <div class="page_img">
        <a href="wain"><%= image_tag 'topwainn.jpg', class: 'img' %></a>
        <div class="img_title">ワイン</div>
      </div>
      <div class="page_img">
        <a href="syoutyuu"><%= image_tag 'topsyoutyuu.jpg', class: 'img' %></a>
        <div class="img_title">焼酎</div>
      </div>
    </div>

    <div class="kuuhaku">
    </div>
  </div>

</body>