<body>



    <div class="hako">
        

            <div class="box1">
            １．基本情報入力
            </div>
            <div class="box1">
            ２．確認
            </div>
            <div class="box1">
            ３．注文完了  
            </div>

    </div>

    <div class="hako1">


        <div class="box2">
            名前
        </div>
        <div class="box3">
        住所
        </div>
        <div class="box4">
        メールアドレス
        </div>
        <div class="box5">
            支払い方法※現金のみ
        </div>
        <div class="box6">
            変更
        </div>

        <div class="syouhin">
            商品ページとの関連
        </div>

    </div>

    <div class="hako2">
        <div class="注文確定">
        <font size=40px>
        <%= link_to("注文確定", "home")%>
    </div>

</body>