<body>
    <div class="hako">
    

        <div class="box1">
        １．基本情報入力
        </div>
        <div class="box1">
        ２．確認
        </div>
        <div class="box1">
        ３．注文完了  
        </div>

    </div>

  <h1>
      ☆☆☆ご注文ありがとうございます☆☆☆
  </h1>
      <p>
          注文確定メールを
      </p>
          <u>
              <p>
                  <font color="red">xxxxx○○○○○○○＠gmail.comへお送りいたしました。</font>
              </p>
          </u> 
  <p>ご確認をお願いいたします。メールが届かない場合は
  090-○○○○-xxxxへご連絡下さい。</P>



</body>