<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>タイトル</title>
</head>
</html>

<body>
    <center>
        <div id="header">
            <h2>新島商事(株)ウォリアーズ会員登録完了</h2>
        </div>
        <br>
        <br>
        <div id="honbun">
            ☆☆☆ご登録ありがとうございます☆☆☆<br>
            <br>
            登録完了メールを<br>
            ○○○○○○○＠gmail.com<br>
            へお送りいたしました。<br>
            <br>
            ご確認をお願いいたします。
        </div>
    </center>
</body>