<body>

  <div class="items">

    <div class="bunrui">
      <p>日本酒</p>
    </div> 

    <div class="item">
      <%= image_tag 'dassai.jpg', class: 'item_img' %>
      <div class="item_desc">
        <h1>獺祭 純米大吟醸 磨き三割九分 遠心分離</h1>
        <p class="tokutyou">無加圧状態でもろみから酒を分離するため、 純米大吟醸もろみの本来持つ香りやふくらみ等の美点が崩れることなく表現されています。</p>
        <div class="nedan">
          <p><1800mℓ></p>
          <p><span>7,931円</span></p>
        </div>
        <div class="item_select">
          <div class="botton"><input type="number" min="0" max="99" id="number"> 個</div>
          <input type="button" value="カートに追加">
        </div>
      </div>
    </div>
		
    <div class="item">
      <%= image_tag 'syoutikubai.jpg', class: 'item_img' %>
      <div class="item_desc">
        <h1>上撰松竹梅</h1>
        <p class="tokutyou">「蔵付き半兵衛酵母」で仕込んだ軽快でなめらかな味わいが特長です。</p>
        <div class="nedan">
          <p><1800mℓ></p>
          <p><span>1,850円</span></p>
        </div>
        <div class="item_select">
          <div class="botton"><input type="number" min="0" max="99" id="number"> 個</div>
          <input type="button" value="カートに追加">
        </div>
      </div>  
    </div>

    <div class="kuuhaku">
    </div>

  </div>

</body>