<body>

  <div class="items">

    <div class="bunrui">
      <p>ワイン</p>
    </div>
    
    <div class="item">
      <%= image_tag 'soviniyon.jpg', class: 'item_img' %>
      <div class="item_desc">
        <h1>ロス ヴァスコス カベルネ・ソーヴィニヨン</h1>
        <p class="tokutyou">赤い果実の香り、ドライフルーツのニュアンス。黒胡椒やナツメグのスパイスの効いた味わいでエレガントなタンニンを持ちます。ラフィットのエレガンスとコルチャグア・ヴァレーの特長がシンプルに楽しめるワインです。</p>
        <div class="nedan">
          <p><750mℓ></p>
          <p><span>1,650円</span></p>
        </div>
        <div class="item_select">
          <div class="botton"><input type="number" min="0" max="99" id="number"> 個</div>
          <input type="button" value="カートに追加">
        </div>
      </div>
    </div>
		
    <div class="item">
      <%= image_tag 'arupaka.jpg', class: 'item_img' %>
      <div class="item_desc">
        <h1>サンタ・ヘレナ・アルパカ・カベルネ・メルロー</h1>
        <p class="tokutyou">チリワインの名門、サンタ・ヘレナ社がお届けする「驚くほどの果実味とまろやかな味わいを実現した“チリの実力派ワイン</p>
        <div class="nedan">
          <p><750mℓ></p>
          <p><span>600 円</span></p>
        </div>
        <div class="item_select">
          <div class="botton"><input type="number" min="0" max="99" id="number"> 個</div>
          <input type="button" value="カートに追加">
        </div>
      </div>  
    </div>
    
    <div class="kuuhaku">
    </div>

  </div>

</body>