<html lang="ja">
<head>
<meta charset="UTF-8">
<title>ログイン画面</title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
   
<h1><center>ログイン画面</center></h1>  
</body>
<p>
 メールアドレス;
    <input type="text" name="mail">
</p>
<p>
    パスワード;
    <input type="text" name="mail">
</p>
<p>
    <a href="touroku"><button tyoe="submit">登録</button></a>
</p>
<button type="button" name="log" value="value">ログイン</button>
</html>