<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>タイトル</title>
</head>
</html>

<body>
    <center>
        フルネーム：<input type="text" name="mail">
        <p>
        表示名：<input type="text" name="mail">
        <p>
        メールアドレス：<input type="text" name="mail">
        <p>
        パスワード：
        <input type="text" name="password">
        </p>
<head>
  <meta charset="UTF-8">
  <title>Button Link Sample</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <a href="tourokukanryou" class="btn">登録</a>
</body>
</html>
    </center>
</body>